/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont_Title{
    width: 50%;
    text-align: justify;
    
}

/* Estilo do Header */
header {
    background-color: #0A47A1;
    color: #fff;
    padding: 20px 0;
    
}

header h1 {
    float: left;
    margin-left: 10px;
    font-size: 24px;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.button {
    padding: 10px 20px;
    background-color: #FFD700;
    color: #0A47A1;
    border-radius: 5px;
}

/* Estilo da Hero Section */
.hero {
    background-color: #0A47A1;
    color: #fff;
    height: 55vh; /* Define a altura em 50% da altura da viewport */
    text-align: center;
    position: relative;
    padding-top: 20px; /* Um pouco de padding superior para o conteúdo */
}

.hero h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.search-bar {
    width: 70%;
    height: 80px;
    position: absolute;
    bottom: -40px; /* ajusta a posição vertical da barra de busca */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.search-bar button {
    padding: 15px 30px;
    border: none;
    background-color: #00A651;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo das Destinações */
.destinations {
    padding: 50px 0;
    text-align: center;
}

.destinations2 {
    padding: 10px 0;
    text-align: center;
}

.destination {
    display: inline-block;
    width: 22%;
    margin: 2%;
    vertical-align: top;
    text-align: left;
}

.destination img {
    width: 260px;   /* Largura fixa */
    height: 172px;  /* Altura fixa */
    object-fit: cover; /* Mantém a proporção e cobre a área definida */
    border-radius: 10px; /* Bordas arredondadas */
}

.destination h3 {
    margin: 10px 0;
}

.destination h3 span {
    color: #FFD700;
}

.destination p {
    font-size: 14px;
}

/* Estilo da Seção Promo */
.promo {
    width: 90%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.promo .container{
    width: 40%;
    text-align: center;
    display: block;
}

.promo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.promo span.promo-green {
    color: #00A651; /* Cor verde */
}

.promo p {
    font-size: 18px;
}

.promo span.promo-yellow {
    color: #FFD700; /* Cor amarela */
}

/* Estilo do Footer */
footer {
    background-color: #00A651;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}

footer .footer-yellow{
    background-color: #FFD700;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header h1, nav ul {
        float: none;
        text-align: center;
    }

    .search-bar {
        flex-direction: column;
        align-items: center;
    }

    .search-bar input[type="text"] {
        width: 90%;
        margin-bottom: 10px;
    }

    .destination {
        width: 46%;
    }
}

@media screen and (max-width: 480px) {
    .destination {
        width: 100%;
        margin: 10px 0;
    }
}
